*{
   font-family: "Work Sans", sans-serif;
}
.btn-primary{
    background: hotpink;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

header{
    padding-left:100px ;
    padding-right:110px ;
    padding-top: 50px;
 }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}

ul li{
    list-style: none;
    padding-right: 25px;
}
li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}
.banner{
    display: flex;
    justify-content:space-between;
    margin-top: 100px;
}
.banner-image img{
    width: 60%;
    position: relative;
    left: 40px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.banner-photos{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 50px 70px;
    padding: 20px 0px;
    box-shadow: 0.2px 0.5px 2px 0.1px gray;
    border-radius: 10px;
    cursor: pointer;
}
.banner-logo img{
    width: 70%;
}

/* Main Starts here */

.card h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1000px;
    margin: 0 auto;
    gap: 15px;
}

.card-items {
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);     
    border-radius: 5px;
    cursor: pointer;
    width: 275px;
    height: 390px;
}
.card-items img{
    width: 100%;
    height: auto;
}
.card-name{
    font-size: 20px;
    font-weight: 600;
}
.card-price{
    margin:0;
}
.card-details{
    margin:5px 0;
}

.card-container{
position:relative;
}
.card-more {
    position: absolute;
    bottom: -85px;
    right: 2%; 
    color: hotpink;
    cursor: pointer;
    padding: 20px;
}

@media screen and (max-width:576px) {

    header{
        padding: 0;
        margin: 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    #nav-title {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    
    nav ul {
        display: flex;
        flex-direction:column;
        gap: 10px;
     
    }
    nav ul li {
        text-align: center;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 5px;
    }

    .banner-description {
        margin-bottom: 15px;
    }

    .banner-title {
        font-size: 1rem;
    }

    .banner-description p {
        font-size: 0.5rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 10px;
    }

    .banner-image img {
        width: 50%;
        padding-bottom: 30px;
        padding-right: 70px;
        align-items: center;
        justify-content: center;
        background-size: 85%;
    }

    .banner-photos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        padding-left: 40px;
    }
}

@media screen and (min-width:576px) and (max-width:1096px) {

     header{
        padding: 0;
        margin: 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    #nav-title {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    
    nav ul {
        display: flex;
        flex-direction:row;
        gap: 10px;
     
    }
    nav ul li {
        text-align: center;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 5px;
    }

    .banner-description {
        margin-bottom: 15px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-description p {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 10px;
    }

    .banner-image img {
        width: 50%;
        padding-bottom: 30px;
        padding-right: 70px;
        align-items: center;
        justify-content: center;
        background-size: 85%;
    }
}